<div class="row justify-content-center">
    <div class="col-sm-8 text-left bg-white rounded shadow py-3">
        <h1>About Us</h1>
        <p>
            To design a Full-Stack Web application for a Restaurant “Ofos” which is located at  various locations and has various food items concerned with each location separately where admin can add and remove the food items for their specific locations and customer can order the food items.

        </p>
        <p>
            Angular -8<br>
            HTML-5 & CSS-3<br>
            Java -1.8<br>
            Spring Boot -2.3.3<br>
            Maven -4.0.0<br>
            Spring Data JPA -2.2.6<br>
            Hibernate -5.2.1<br>
            My SQL

        </p>

    </div>
</div>