h1 {
    color:rgb(3, 4, 73);
    font-style: italic;
    font-size: xxx-large;
    font-weight: 1000;
}

.btn-secondary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7106f5;
}

#abc {
    background-color: coral;
  }

  body {
    background-color: coral;
  }