h5 {
    color:rgb(255, 8, 0);
    font-style: italic;
    font-size: x-large;
    font-weight: 1000;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1 {
    color:rgb(3, 4, 73);
    font-style: italic;
    font-size: xxx-large;
    font-weight: 1000;
}

